<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Projetos</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="estilo.css">
</head>
<body>

<h1 class="corTexto tema" align="center">Sistema de controle de produto</h1>

<div class="row margemLateral">
    <div class="col s2">
        <h3><a href="/produtos" class="waves-effect waves-light btn tema buttonLateral"><i class="material-icons left">add_circle_outline</i>Lista
            de Produtos</a></h3>
        <h3><a href="/cadastrarProduto" class="waves-effect waves-light btn tema buttonLateral"><i
                class="material-icons left">add_circle_outline</i>Cadastrar
            Produtos</a></h3>
    </div>
    <div class="col s10">
        <form class="container" method="post">
            <div class="row">
                <div class="input-field col s6"> Nome: <input type="text" value="" name="nome"></div>
                <div class="input-field col s3"> Preço : <input type="number" value="" name="preco"></div>
                <div class="input-field col s3"> Código : <input type="number" value="" name="codigoProduto"></div>
            </div>
            <button class="waves-effect waves-light btn tema" type="submit">Salvar</button>
        </form>
    </div>
</div>

</body>
</html>